:root{
    --navbar-bg:#0E71B4;
    --navbar-primary:#6e6565;
    --navbar-secondary:#6094be;
    --navbar-accent:#3c7fb6;
    --textbox:#eee;

    --editor-bg:#2A7CBF;
    --editor-accent:#3f8ecf;
    --editor-primary: #fff;
}