:root{
    --navbar-bg:#121d24;
    --navbar-primary:#252020;
    --navbar-accent:#3f8ecf;
    --textbox:#bdb9b9;

    --editor-bg:#081018;
    --editor-accent:#071927;
    --editor-primary: #696b6e;
}