
/*#region navbar*/
section#navbar{
    background-color: var(--navbar-bg);
    color: var(--navbar-primary);
    position: absolute;
    top:0;
    left:0;
    right:0;
    padding:0.5em;
    z-index: 5;
    border-bottom: 1px solid var(--navbar-secondary);
}

button{
    background-color: var(--navbar-accent);
    border: none;
    border-radius: 50%;
    height:32px;
    width:32px;
    display: inline-block;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: outline 0.2s;
}
button:hover{
    outline:2px solid var(--navbar-secondary);
}
button>img{
    width: 100%;
}
/*#endregion*/

/*#region text field */
.text-container{
    background-color: var(--textbox);
    border-radius: 0.3em;
    width: fit-content;
    padding: 0.2em;
    display: inline-block;
}
.text-container>input{
    background-color: var(--textbox);
    color: var(--navbar-primary);
    border: none;
    border-bottom: 1px solid transparent;
    outline: none;
}
.text-container>input:focus{
    border-bottom: 1px solid var(--navbar-primary);
}
/*#endregion */

/*#region toolbox*/
aside#toolbox{
    position: absolute;
    top:12%;bottom:12%;left:-12em;
    width: 11em;
    padding-left:1em;
    background-color: var(--navbar-bg);
    transition: left 0.3s;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    z-index: 4;
}
section#tools{
    position: absolute;
    right:0;top:0.3em; /*Offset for rounded edges*/
    bottom:0.1em;
    transform: translate(calc(100% + 4px), 0);
    height:fit-content;
}
#tools>button{
    margin-bottom: 0.4em;
    display: block;
    background-color: var(--navbar-bg);
}
#tools>button:nth-last-child(2){
    margin-top: 2em;
}
.underline{
    border-bottom: 1px solid var(--navbar-secondary);
    margin-bottom: 0;
}
ul{
    padding-left: 0;
    list-style-type: none;
}
#settings>button{
    position: absolute;
    top:0.3em;
    right:0.5em;
}
li{
    padding:0.4em;
    cursor: pointer;
}
li:hover{
    background-color: var(--navbar-accent);
}
/*#endregion*/

body{
    background-color: var(--editor-bg);
    color: var(--editor-primary);
    margin:0;
    overflow: hidden;
}
#navbar>.logo{
    float: right;
    margin: 0em;
    width: 2.2em;
}

section#env-settings{
    position: absolute;
    bottom: 1em;
    right: 1em;
}
input[type="checkbox"]:not(:checked){
    background-color: var(--editor-bg);
}
canvas{
    user-select: none;
}

.icon{
    height:1em;
    margin-right: 0.5em;
}
#text-editor-container{
    position: absolute;
    bottom:4em;
    left:50%;
    transform: translate(-50%,0);
    width:40em;
    max-width: 80%;
    height:10em;
    background-color: var(--navbar-bg);
    border-radius: 1em;
    overflow: hidden;
    display: none;
}
#text-editor{
    position: absolute;
    top:0; left:0; right:0; bottom:3em;
    border-radius: 1em;
    resize: none;
    outline: none;
    padding:1em;
}
#text-editor-container>button{
    position: absolute;
    bottom: 4px; right:1em;
    width:5em;
    border-radius: 1.5em;
}